// grays
$gray-lightest: #f0f0f0;
$gray-lighter: #c2c2c2;
$gray-light: #949494;
$gray-mid: #666666;
$gray-dark: #474747;
$gray-dark-2: #3c3c3c;
$gray-darker: #292929;
$gray-darker-2: #1d1d1d;
$gray-darker-3: #131313;
$gray-darkest: #0a0a0a;

// purples
$purple-lightest: #C2C6E8;
$purple-lighter: #9DA4DB;
$purple-light: #7882CD;
$purple-mid: #5460C0;
$purple-dark: #3A469E;
$purple-darker: #2A3373;
$purple-darkest: #1B2048;

// greens
$green-lightest: #CBE8C2;
$green-lighter: #ADDB9D;
$green-light: #8ECD78;
$green-mid: #6FBF54;
$green-dark: #539E3A;
$green-darker: #3D732A;
$green-darkest: #26481B;

// golds
$gold-lightest: #E8D7C2;
$gold-lighter: #DBBF9D;
$gold-light: #CDA778;
$gold-mid: #c08f54;
$gold-dark: #9E713A;
$gold-darker: #815D30;
$gold-darkest: #48331B;

// pinks
$pink-lightest: #E8C2C6;
$pink-lighter: #DB9DA4;
$pink-light: #CD7882;
$pink-mid: #C05460;
$pink-dark: #9E3A46;
$pink-darker: #732A33;
$pink-darkest: #481B20;

$white: #FFFFFF;
$black: #000000;
