// grays
$gray-lightest: #f0f0f0;
$gray-lighter: #c2c2c2;
$gray-light: #949494;
$gray-mid: #666666;
$gray-dark: #474747;
$gray-darker: #292929;
$gray-darkest: #0a0a0a;

// purples
$purple-lightest: #c4abef;
$purple-lighter: #a782e8;
$purple-light: #8958e0;
$purple-mid: #784fbf;
$purple-dark: #6e46b3;
$purple-darker: #523586;
$purple-darkest: #37235a;

// greens
$green-lightest: #d1e1b5;
$green-lighter: #b9d190;
$green-light: #a2c26b;
$green-mid: #8bb346;
$green-dark: #6f8f38;
$green-darker: #536b2a;
$green-darkest: #38481c;

// golds
$gold-lightest: #efdaab;
$gold-lighter: #e8c782;
$gold-light: #e0b558;
$gold-mid: #D8A22E;
$gold-dark: #ad8225;
$gold-darker: #82611c;
$gold-darkest: #564112;

// pinks
$pink-lightest: #efabd7;
$pink-lighter: #e882c2;
$pink-light: #e058ae;
$pink-mid: #d82e9a;
$pink-dark: #ad257b;
$pink-darker: #821c5c;
$pink-darkest: #56123e;

$white: #FFFFFF;
$black: #000000;
