@import 'colors.scss';
@import 'consts.scss';

html {
	height: 100%;
}

body {
  font-family: $default-font-family;
  font-weight: 400;
  margin: 0;
  height: 100%;
  color: $gray-darker-2;
}

p {
  margin-block-start: 0;
  margin-bottom: 1.5em;
  display: block;
}

h1 {
  margin-bottom: 1em;
  display: block;
  font-weight: 300;
}

h2 {
  margin-bottom: 1em;
  display: block;
  font-weight: 300;
}

h3 {
  margin-bottom: 1em;
  line-height: 1.3em;
  font-weight: 400;
}

h4 {
  margin-bottom: 1em;
  font-weight: 600;
}

a, .link{
  cursor: pointer;
  color: $gold-dark;
  &:hover {
    color: $gold-darkest;
  }

  &.gray {
    color: $gray-light;
    &:hover {
      color: $gray-lighter;
    }
  }
}

.subcontainer {
  padding: 1em;
  @media screen and (max-width: $mobile-size) {
    margin: 0;
  }
}

.margin-bottom-1 {
  margin-bottom: 1em;
}
