@import 'colors.scss';
@import 'consts.scss';

:root {
  --red-600: #9E3A46;

  --top-nav-bar-height: 60px;
}

html {
	height: 100%;
}

.bold {
  font-weight: bold;
}

body {
  font-family: $default-font-family;
  font-weight: 400;
  margin: 0;
  height: 100%;
  color: $gray-darker-2;
  background-color: $gray-lightest;
}

a, .link{
  cursor: pointer;
  color: $gold-dark;
  &:hover {
    color: $gold-darkest;
  }

  &.gray {
    color: $gray-light;
    &:hover {
      color: $gray-lighter;
    }
  }
}

.subcontainer {
  padding: 1em;
  @media screen and (max-width: $mobile-size) {
    margin: 0;
  }
}

.margin-bottom-1 {
  margin-bottom: 1em;
}
