@import 'colors.scss';

html {
	height: 100%;
}

body {
  font-family: Segoe UI, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  height: 100%;
}

a, .link{
  color: $gold-mid;
  &:hover {
    color: $purple-mid;
  }

  &.gray {
    color: $gray-light;
    &:hover {
      color: $gray-lighter;
    }
  }
}
